@{
    Layout = "_Layout";
}

@* <link type="text/css" rel="stylesheet" href="./../wwwroot/css/details.css"> *@

@model Ecommerce.Models.Product

<div class="container">

  <div class="card product-details-container">

      <div class="row top-row">
          <div class="col-md-1"></div>
          <div class="col-md-4 product-left-column">
              <!-- Image -->
              <img class="single-product-image" src=@Model.ProductImage alt="image of a product">
              
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 product-right-column">
              <h1 class="product-title">@Html.DisplayFor(model => model.Name)</h1>
              <h3 class="price"><i>$@Html.DisplayFor(model => model.Price).00</i></h3>
              @using (Html.BeginForm())
              {
                @Html.HiddenFor(model=>model.ProductId)
                <h3>@Html.HiddenFor(model=> model.Name)</h3>
                <h3>@Html.HiddenFor(model=> model.Description)</h3>
                <h3>@Html.HiddenFor(model=> model.Price)</h3>
                <h3>@Html.HiddenFor(model=> model.ProductId)</h3>
                <h3>@Html.HiddenFor(model=> model.ProductImage)</h3>
                <h3>@Html.HiddenFor(model => model.Sku)</h3>
                <input id="addToCart-button" type="submit" value="Add to Cart" class="cart-button"/>
              }
              <p class="free-shipping">Free shipping on orders over $25.00</p>
          </div>
          <div class="col-md-1"></div>
      </div>

      <div class="row bottom-row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
              <h2 class="product-description">Description</h2>
              <p>@Html.DisplayFor(model => model.Description)</p>
              <a class="details-back-button" asp-area="" asp-controller="Products" asp-action="Index">Back To Products</a>
              <h6 class="sku-number">SKU#@Html.DisplayFor(model => model.Sku)</h6>
          </div>
          <div class="col-md-1"></div>
      </div>

  </div>
</div>

